@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.chat-window {
  width: 86vw;
  height: 80vh;
  overflow-y: scroll;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-start;
}
